/* main styles */
body {
    font-family: 'Lato', sans-serif;
}

/* section style start */

.bannar {
    justify-content: space-between;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    /* width: 1950px; */
    height: 850px;
    padding: 0px 240px;
    margin: 0px 150px;

}

.banner-container {}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    padding-top: 190px;
}

.banner-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin: 30px;

}

.button-style {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
}

.flower {
    padding-top: 50px;
}

/* second section1 styls */
.div-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 175px;
}

.div-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}


.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;

}

.box-one {
    background: rgba(167, 33, 98, 0.15);
    /* padding: 110px 75px 0px 75px; */


}

.box-two {
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 24px;
}

.box-three {
    background: rgba(71, 125, 17, 0.15);
}

.img-size {
    width: 310px;
    height: 428px;
    margin-top: 110px;
    margin-left: 76px;
}

.image-contain {
    display: flex;
    justify-content: center;
    gap: 310px;
}

.underline {
    text-decoration: underline;
}

/* section three start */

.icon-container {
    display: flex;
    justify-content: center;
    /* gap: 320px; */
    margin: 128px 0px 128px 550px;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icon-img {
    margin-top: 100px;
    margin-left: 100px;
}

.icone-title {
    margin-right: 100px;
}

/* section number four */

.section-four {
    display: flex;
    justify-content: center;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 0px 150px 130px 150px;
    gap: 185px;
}

.sec-fr-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
}

sec-fr-text {
    width: 595px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* section five styles */

.common-contant {
    display: flex;
    justify-content: center;
}

.five-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
}

.five-text {
    /* width: 595PX; */
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    /* margin-top: 120px; */

}

.img-five-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 130;
}

.common {
    margin-top: 120px;
}

.email-input {
    width: 700px;
    height: 64px;
    border: 1px solid seagreen;
    border-radius: 8px;
    background: #FFF;
    color: #191717;
}

.container-border {
    height: 449px;
    border-radius: 8px;
    background: lightgray;
    margin: 0px 150px;
}

.footer-container {
    height: 449px;
    background-color: rgb(43, 42, 41);
    margin: 100px 150px;
    border-radius: 5px;
    border: 2px solid white;

}

.s-color {
    color: #E55473;
}

.com-contant {
    color: white;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.common-contant {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 0 auto;
}